
.Itemcount div {
    /* border: 1px solid black; */
    margin: 10px 0px;

}


.removeButton{
    background-color: ivory;
    border-radius: 8px;
    padding: 0px 20px;
}

.addButton{
    border-radius: 8px;
    background-color: ivory;
    padding: 0px 20px;
}

.count{
   
    padding: 0px 20px;
}


.addCarrito {
    border-radius: 8px;
    border: 1px solid black;
    background-color: ivory;
}





