.card-container{
    
    margin-top: 40px;
    background-color: #E3E7ED;
    border: 1px solid ivory;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px rgba(227,231,237,0.75);
    
    
    
  
}

.item-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
     flex-wrap: wrap;
     padding: 10px 0px;

}

.item-container button {
    background-color: #75245E;
    /* border: 1px solid black; */
    border: 1px solid ivory;
    color: ivory;
    border-radius: 8px;
    padding: 5px 20px;
}

.card-container img{
   width: 400px;
   height: 400px;
   padding: 20px;
}



.ItemCount{
       display: grid;
       grid-template-columns: 1fr;
    
}


.button-comprar {
    text-decoration: none;
    color: ivory;
}